.d-f        { display: flex }
.d-b        { display: block }
.d-if       { display: inline-flex }
.d-i        { display: inline }
.d-ib       { display: inline-block }
.d-n        { display: none }

.fw-w       { flex-wrap: wrap }
.fw-n       { flex-wrap: nowrap }
.fw-wr      { flex-wrap: wrap-reverse }

.fd-r       { flex-direction: row }
.fd-c       { flex-direction: column }
.fd-rr      { flex-direction: row-reverse }
.fd-cr      { flex-direction: column-reverse }

.jc-c       { justify-content: center }
.jc-fs      { justify-content: flex-start }
.jc-fe      { justify-content: flex-end }
.jc-sa      { justify-content: space-around }
.jc-sb      { justify-content: space-between }

.ai-c       { align-items: center }
.ai-fs      { align-items: flex-start }
.ai-fe      { align-items: flex-end }
.ai-s       { align-items: stretch }
.ai-b       { align-items: baseline }

.ac-c       { align-content: center }
.ac-fs      { align-content: flex-start }
.ac-fe      { align-content: flex-end }
.ac-sa      { align-content: space-around }
.ac-sb      { align-content: space-between }
.ac-s       { align-content: stretch }

.as-c       { align-self: center }
.as-fs      { align-self: flex-start }
.as-fe      { align-self: flex-end }
.as-s       { align-self: stretch }
.as-b       { align-self: baseline }

.fb-1-1     { flex-basis: 100% }
.fb-1-2     { flex-basis: 50% }
.fb-1-3     { flex-basis: 33.333% }
.fb-2-3     { flex-basis: 66.666% }
.fb-1-4     { flex-basis: 25% }
.fb-3-4     { flex-basis: 75% }
.fb-1-6     { flex-basis: 16.666% }
.fb-5-6     { flex-basis: 83.333% }
.fb-1-12    { flex-basis: 8.333% }
.fb-5-12    { flex-basis: 41.666% }
.fb-7-12    { flex-basis: 58.333% }
.fb-11-12   { flex-basis: 91.666% }

.fb-1       { flex-basis: 1rem }
.fb-15      { flex-basis: 1.5rem }
.fb-2       { flex-basis: 2rem }
.fb-3       { flex-basis: 3rem }
.fb-4       { flex-basis: 4rem }
.fb-5       { flex-basis: 5rem }
.fb-6       { flex-basis: 6rem }
.fb-7       { flex-basis: 7rem }
.fb-8       { flex-basis: 8rem }
.fb-9       { flex-basis: 9rem }

.fs-0       { flex-shrink: 0 }
.fs-1       { flex-shrink: 1 }
.fs-2       { flex-shrink: 2 }
.fs-3       { flex-shrink: 3 }
.fs-4       { flex-shrink: 4 }
.fs-5       { flex-shrink: 5 }

.fg-0       { flex-grow: 0 }
.fg-1       { flex-grow: 1 }
.fg-2       { flex-grow: 2 }
.fg-3       { flex-grow: 3 }
.fg-4       { flex-grow: 4 }
.fg-5       { flex-grow: 5 }

.f-01a      { flex: 0 1 auto }

.mw-n       { max-width: none }
.mw-60      { max-width: 60rem }
.mw-65      { max-width: 65rem }
.mw-70      { max-width: 70rem }
.mw-75      { max-width: 75rem }
.mw-80      { max-width: 80rem }
.mw-100     { max-width: 100% }

.w-1-1      { width: 100% }
.w-1-2      { width: 50% }
.w-1-3      { width: 33.333% }
.w-2-3      { width: 66.666% }
.w-1-4      { width: 25% }
.w-3-4      { width: 75% }
.w-1-6      { width: 16.666% }
.w-5-6      { width: 83.333% }
.w-1-12     { width: 8.333% }
.w-5-12     { width: 41.666% }
.w-7-12     { width: 58.333% }
.w-11-12    { width: 91.666% }

.w-a        { width: auto }
.w-1        { width: 1rem }
.w-15       { width: 1.5rem }
.w-2        { width: 2rem }
.w-3        { width: 3rem }
.w-4        { width: 4rem }
.w-5        { width: 5rem }
.w-6        { width: 6rem }
.w-7        { width: 7rem }
.w-8        { width: 8rem }
.w-9        { width: 9rem }

.h-1-1      { height: 100% }
.h-1-2      { height: 50% }
.h-1-3      { height: 33.333% }
.h-2-3      { height: 66.666% }
.h-1-4      { height: 25% }
.h-3-4      { height: 75% }
.h-1-6      { height: 16.666% }
.h-5-6      { height: 83.333% }
.h-1-12     { height: 8.333% }
.h-5-12     { height: 41.666% }
.h-7-12     { height: 58.333% }
.h-11-12    { height: 91.666% }

.h-a        { height: auto }
.h-1        { height: 1rem }
.h-15       { height: 1.5rem }
.h-2        { height: 2rem }
.h-3        { height: 3rem }
.h-4        { height: 4rem }
.h-5        { height: 5rem }
.h-6        { height: 6rem }
.h-7        { height: 7rem }
.h-8        { height: 8rem }
.h-9        { height: 9rem }
.h-25       { height: 25vh }
.h-50       { height: 50vh }
.h-75       { height: 75vh }
.h-100      { height: 100vh }

.m-a {
    margin-left: auto;
    margin-right: auto
}

.m-0        { margin: 0 }
.m-05       { margin: 0.5rem }
.m-1        { margin: 1rem }
.m-15       { margin: 1.5rem }
.m-2        { margin: 2rem }
.m-3        { margin: 3rem }
.m-4        { margin: 4rem }

.mt-0       { margin-top: 0 }
.mt-05      { margin-top: 0.5rem }
.mt-1       { margin-top: 1rem }
.mt-15      { margin-top: 1.5rem }
.mt-2       { margin-top: 2rem }
.mt-3       { margin-top: 3rem }
.mt-4       { margin-top: 4rem }

.mb-0       { margin-bottom: 0 }
.mb-05      { margin-bottom: 0.5rem }
.mb-1       { margin-bottom: 1rem }
.mb-15      { margin-bottom: 1.5rem }
.mb-2       { margin-bottom: 2rem }
.mb-3       { margin-bottom: 3rem }
.mb-4       { margin-bottom: 4rem }

.ml-0       { margin-left: 0 }
.ml-05      { margin-left: 0.5rem }
.ml-1       { margin-left: 1rem }
.ml-15      { margin-left: 1.5rem }
.ml-2       { margin-left: 2rem }
.ml-3       { margin-left: 3rem }
.ml-4       { margin-left: 4rem }

.mr-0       { margin-right: 0 }
.mr-05      { margin-right: 0.5rem }
.mr-1       { margin-right: 1rem }
.mr-15      { margin-right: 1.5rem }
.mr-2       { margin-right: 2rem }
.mr-3       { margin-right: 3rem }
.mr-4       { margin-right: 4rem }

.p-0        { padding: 0 }
.p-05       { padding: 0.5rem }
.p-1        { padding: 1rem }
.p-15       { padding: 1.5rem }
.p-2        { padding: 2rem }
.p-3        { padding: 3rem }
.p-4        { padding: 4rem }

.pt-0       { padding-top: 0 }
.pt-05      { padding-top: 0.5rem }
.pt-1       { padding-top: 1rem }
.pt-15      { padding-top: 1.5rem }
.pt-2       { padding-top: 2rem }
.pt-3       { padding-top: 3rem }
.pt-4       { padding-top: 4rem }

.pb-0       { padding-bottom: 0 }
.pb-05      { padding-bottom: 0.5rem }
.pb-1       { padding-bottom: 1rem }
.pb-15      { padding-bottom: 1.5rem }
.pb-2       { padding-bottom: 2rem }
.pb-3       { padding-bottom: 3rem }
.pb-4       { padding-bottom: 4rem }

.pl-0       { padding-left: 0 }
.pl-05      { padding-left: 0.5rem }
.pl-1       { padding-left: 1rem }
.pl-15      { padding-left: 1.5rem }
.pl-2       { padding-left: 2rem }
.pl-3       { padding-left: 3rem }
.pl-4       { padding-left: 4rem }

.pr-0       { padding-right: 0 }
.pr-05      { padding-right: 0.5rem }
.pr-1       { padding-right: 1rem }
.pr-15      { padding-right: 1.5rem }
.pr-2       { padding-right: 2rem }
.pr-3       { padding-right: 3rem }
.pr-4       { padding-right: 4rem }

.p-a        { position: absolute }
.p-r        { position: relative }
.p-s        { position: static }
.p-f        { position: fixed }

.tt-u       { text-transform: uppercase }
.tt-l       { text-transform: lowercase }
.tt-n       { text-transform: none }

.td-u       { text-decoration: underline }
.td-n       { text-decoration: none }

.ta-c       { text-align: center }
.ta-l       { text-align: left }
.ta-r       { text-align: right }

.ff-custom  { font-family: "custom" }

.fs-12      { font-size: 0.75rem }
.fs-14      { font-size: 0.875rem }
.fs-16      { font-size: 1rem }
.fs-18      { font-size: 1.125rem }
.fs-20      { font-size: 1.25rem }
.fs-24      { font-size: 1.5rem }
.fs-28      { font-size: 1.75rem }
.fs-32      { font-size: 2rem }
.fs-36      { font-size: 2.25rem }
.fs-40      { font-size: 2.5rem }
.fs-44      { font-size: 2.75rem }
.fs-48      { font-size: 3rem }

.fw-100     { font-weight: 100 }
.fw-200     { font-weight: 200 }
.fw-300     { font-weight: 300 }
.fw-400     { font-weight: 400 }
.fw-500     { font-weight: 500 }
.fw-600     { font-weight: 600 }
.fw-700     { font-weight: 700 }
.fw-800     { font-weight: 800 }
.fw-900     { font-weight: 900 }

.lh-1       { line-height: 1 }
.lh-11      { line-height: 1.1 }
.lh-115     { line-height: 1.15 }
.lh-12      { line-height: 1.2 }
.lh-125     { line-height: 1.25 }
.lh-13      { line-height: 1.3 }
.lh-135     { line-height: 1.35 }
.lh-14      { line-height: 1.4 }
.lh-145     { line-height: 1.45 }
.lh-15      { line-height: 1.5 }

.va-m       { vertical-align: middle }

.bs-c       { background-size: cover }

.br-nr      { background-repeat: no-repeat }

.ba-f       { background-attachment: fixed }
.ba-s       { background-attachment: scroll }

.bp-c {
    background-position-x: center;
    background-position-y: center
}

.bpx-c      { background-position-x: center }
.bpx-l      { background-position-x: left }
.bpx-r      { background-position-x: right }
.bpy-c      { background-position-y: center }
.bpy-t      { background-position-y: top }
.bpy-b      { background-position-y: bottom }

.o-h        { overflow: hidden }

.v-h        { visibility: hidden }
.v-v        { visibility: visible }

@media only screen and (max-width: 75rem) {

.d-l-f      { display: flex }
.d-l-b      { display: block }
.d-l-if     { display: inline-flex }
.d-l-i      { display: inline }
.d-l-ib     { display: inline-block }
.d-l-n      { display: none }

.fw-l-w     { flex-wrap: wrap }
.fw-l-n     { flex-wrap: nowrap }
.fw-l-wr    { flex-wrap: wrap-reverse }

.fd-l-r     { flex-direction: row }
.fd-l-c     { flex-direction: column }
.fd-l-rr    { flex-direction: row-reverse }
.fd-l-cr    { flex-direction: column-reverse }

.jc-l-c     { justify-content: center }
.jc-l-fs    { justify-content: flex-start }
.jc-l-fe    { justify-content: flex-end }
.jc-l-sa    { justify-content: space-around }
.jc-l-sb    { justify-content: space-between }

.ai-l-c     { align-items: center }
.ai-l-fs    { align-items: flex-start }
.ai-l-fe    { align-items: flex-end }
.ai-l-s     { align-items: stretch }
.ai-l-b     { align-items: baseline }

.ac-l-c     { align-content: center }
.ac-l-fs    { align-content: flex-start }
.ac-l-fe    { align-content: flex-end }
.ac-l-sa    { align-content: space-around }
.ac-l-sb    { align-content: space-between }
.ac-l-s     { align-content: stretch }

.as-l-c     { align-self: center }
.as-l-fs    { align-self: flex-start }
.as-l-fe    { align-self: flex-end }
.as-l-s     { align-self: stretch }
.as-l-b     { align-self: baseline }

.fb-l-1-1   { flex-basis: 100% }
.fb-l-1-2   { flex-basis: 50% }
.fb-l-1-3   { flex-basis: 33.333% }
.fb-l-2-3   { flex-basis: 66.666% }
.fb-l-1-4   { flex-basis: 25% }
.fb-l-3-4   { flex-basis: 75% }
.fb-l-1-6   { flex-basis: 16.666% }
.fb-l-5-6   { flex-basis: 83.333% }
.fb-l-1-12  { flex-basis: 8.333% }
.fb-l-5-12  { flex-basis: 41.666% }
.fb-l-7-12  { flex-basis: 58.333% }
.fb-l-11-12 { flex-basis: 91.666% }

.fb-l-1     { flex-basis: 1rem }
.fb-l-15    { flex-basis: 1.5rem }
.fb-l-2     { flex-basis: 2rem }
.fb-l-3     { flex-basis: 3rem }
.fb-l-4     { flex-basis: 4rem }
.fb-l-5     { flex-basis: 5rem }
.fb-l-6     { flex-basis: 6rem }
.fb-l-7     { flex-basis: 7rem }
.fb-l-8     { flex-basis: 8rem }
.fb-l-9     { flex-basis: 9rem }

.fs-l-0     { flex-shrink: 0 }
.fs-l-1     { flex-shrink: 1 }
.fs-l-2     { flex-shrink: 2 }
.fs-l-3     { flex-shrink: 3 }
.fs-l-4     { flex-shrink: 4 }
.fs-l-5     { flex-shrink: 5 }

.fg-l-0     { flex-grow: 0 }
.fg-l-1     { flex-grow: 1 }
.fg-l-2     { flex-grow: 2 }
.fg-l-3     { flex-grow: 3 }
.fg-l-4     { flex-grow: 4 }
.fg-l-5     { flex-grow: 5 }

.f-l-01a    { flex: 0 1 auto }

.mw-l-n       { max-width: none }
.mw-l-60      { max-width: 60rem }
.mw-l-65      { max-width: 65rem }
.mw-l-70      { max-width: 70rem }
.mw-l-100     { max-width: 100% }

.w-l-1-1    { width: 100% }
.w-l-1-2    { width: 50% }
.w-l-1-3    { width: 33.333% }
.w-l-2-3    { width: 66.666% }
.w-l-1-4    { width: 25% }
.w-l-3-4    { width: 75% }
.w-l-1-6    { width: 16.666% }
.w-l-5-6    { width: 83.333% }
.w-l-1-12   { width: 8.333% }
.w-l-5-12   { width: 41.666% }
.w-l-7-12   { width: 58.333% }
.w-l-11-12  { width: 91.666% }

.w-l-a      { width: auto }
.w-l-1      { width: 1rem }
.w-l-15     { width: 1.5rem }
.w-l-2      { width: 2rem }
.w-l-3      { width: 3rem }
.w-l-4      { width: 4rem }
.w-l-5      { width: 5rem }
.w-l-6      { width: 6rem }
.w-l-7      { width: 7rem }
.w-l-8      { width: 8rem }
.w-l-9      { width: 9rem }

.h-l-1-1    { height: 100% }
.h-l-1-2    { height: 50% }
.h-l-1-3    { height: 33.333% }
.h-l-2-3    { height: 66.666% }
.h-l-1-4    { height: 25% }
.h-l-3-4    { height: 75% }
.h-l-1-6    { height: 16.666% }
.h-l-5-6    { height: 83.333% }
.h-l-1-12   { height: 8.333% }
.h-l-5-12   { height: 41.666% }
.h-l-7-12   { height: 58.333% }
.h-l-11-12  { height: 91.666% }

.h-l-a      { height: auto }
.h-l-1      { height: 1rem }
.h-l-15     { height: 1.5rem }
.h-l-2      { height: 2rem }
.h-l-3      { height: 3rem }
.h-l-4      { height: 4rem }
.h-l-5      { height: 5rem }
.h-l-6      { height: 6rem }
.h-l-7      { height: 7rem }
.h-l-8      { height: 8rem }
.h-l-9      { height: 9rem }
.h-l-25     { height: 25vh }
.h-l-50     { height: 50vh }
.h-l-75     { height: 75vh }
.h-l-100    { height: 100vh }

.m-l-a {
    margin-left: auto;
    margin-right: auto
}

.m-l-0      { margin: 0 }
.m-l-05     { margin: 0.5rem }
.m-l-1      { margin: 1rem }
.m-l-15     { margin: 1.5rem }
.m-l-2      { margin: 2rem }
.m-l-3      { margin: 3rem }
.m-l-4      { margin: 4rem }

.mt-l-0     { margin-top: 0 }
.mt-l-05    { margin-top: 0.5rem }
.mt-l-1     { margin-top: 1rem }
.mt-l-15    { margin-top: 1.5rem }
.mt-l-2     { margin-top: 2rem }
.mt-l-3     { margin-top: 3rem }
.mt-l-4     { margin-top: 4rem }

.mb-l-0     { margin-bottom: 0 }
.mb-l-05    { margin-bottom: 0.5rem }
.mb-l-1     { margin-bottom: 1rem }
.mb-l-15    { margin-bottom: 1.5rem }
.mb-l-2     { margin-bottom: 2rem }
.mb-l-3     { margin-bottom: 3rem }
.mb-l-4     { margin-bottom: 4rem }

.ml-l-0     { margin-left: 0 }
.ml-l-05    { margin-left: 0.5rem }
.ml-l-1     { margin-left: 1rem }
.ml-l-15    { margin-left: 1.5rem }
.ml-l-2     { margin-left: 2rem }
.ml-l-3     { margin-left: 3rem }
.ml-l-4     { margin-left: 4rem }

.mr-l-0     { margin-right: 0 }
.mr-l-05    { margin-right: 0.5rem }
.mr-l-1     { margin-right: 1rem }
.mr-l-15    { margin-right: 1.5rem }
.mr-l-2     { margin-right: 2rem }
.mr-l-3     { margin-right: 3rem }
.mr-l-4     { margin-right: 4rem }

.p-l-0      { padding: 0 }
.p-l-05     { padding: 0.5rem }
.p-l-1      { padding: 1rem }
.p-l-15     { padding: 1.5rem }
.p-l-2      { padding: 2rem }
.p-l-3      { padding: 3rem }
.p-l-4      { padding: 4rem }

.pt-l-0     { padding-top: 0 }
.pt-l-05    { padding-top: 0.5rem }
.pt-l-1     { padding-top: 1rem }
.pt-l-15    { padding-top: 1.5rem }
.pt-l-2     { padding-top: 2rem }
.pt-l-3     { padding-top: 3rem }
.pt-l-4     { padding-top: 4rem }

.pb-l-0     { padding-bottom: 0 }
.pb-l-05    { padding-bottom: 0.5rem }
.pb-l-1     { padding-bottom: 1rem }
.pb-l-15    { padding-bottom: 1.5rem }
.pb-l-2     { padding-bottom: 2rem }
.pb-l-3     { padding-bottom: 3rem }
.pb-l-4     { padding-bottom: 4rem }

.pl-l-0     { padding-left: 0 }
.pl-l-05    { padding-left: 0.5rem }
.pl-l-1     { padding-left: 1rem }
.pl-l-15    { padding-left: 1.5rem }
.pl-l-2     { padding-left: 2rem }
.pl-l-3     { padding-left: 3rem }
.pl-l-4     { padding-left: 4rem }

.pr-l-0     { padding-right: 0 }
.pr-l-05    { padding-right: 0.5rem }
.pr-l-1     { padding-right: 1rem }
.pr-l-15    { padding-right: 1.5rem }
.pr-l-2     { padding-right: 2rem }
.pr-l-3     { padding-right: 3rem }
.pr-l-4     { padding-right: 4rem }

.p-l-a      { position: absolute }
.p-l-r      { position: relative }
.p-l-s      { position: static }
.p-l-f      { position: fixed }

.tt-l-u     { text-transform: uppercase }
.tt-l-l     { text-transform: lowercase }
.tt-l-n     { text-transform: none }

.td-l-u     { text-decoration: underline }
.td-l-n     { text-decoration: none }

.ta-l-c     { text-align: center }
.ta-l-l     { text-align: left }
.ta-l-r     { text-align: right }

.ff-l-custom { font-family: "custom" }

.fs-l-12    { font-size: 0.75rem }
.fs-l-14    { font-size: 0.875rem }
.fs-l-16    { font-size: 1rem }
.fs-l-18    { font-size: 1.125rem }
.fs-l-20    { font-size: 1.25rem }
.fs-l-24    { font-size: 1.5rem }
.fs-l-28    { font-size: 1.75rem }
.fs-l-32    { font-size: 2rem }
.fs-l-36    { font-size: 2.25rem }
.fs-l-40    { font-size: 2.5rem }
.fs-l-44    { font-size: 2.75rem }
.fs-l-48    { font-size: 3rem }

.fw-l-100   { font-weight: 100 }
.fw-l-200   { font-weight: 200 }
.fw-l-300   { font-weight: 300 }
.fw-l-400   { font-weight: 400 }
.fw-l-500   { font-weight: 500 }
.fw-l-600   { font-weight: 600 }
.fw-l-700   { font-weight: 700 }
.fw-l-800   { font-weight: 800 }
.fw-l-900   { font-weight: 900 }

.lh-l-1     { line-height: 1 }
.lh-l-11    { line-height: 1.1 }
.lh-l-115   { line-height: 1.15 }
.lh-l-12    { line-height: 1.2 }
.lh-l-125   { line-height: 1.25 }
.lh-l-13    { line-height: 1.3 }
.lh-l-135   { line-height: 1.35 }
.lh-l-14    { line-height: 1.4 }
.lh-l-145   { line-height: 1.45 }
.lh-l-15    { line-height: 1.5 }

.va-l-m     { vertical-align: middle }

.bs-l-c     { background-size: cover }

.br-l-nr    { background-repeat: no-repeat }

.ba-l-f     { background-attachment: fixed }
.ba-l-s     { background-attachment: scroll }

.bp-l-c {
    background-position-x: center;
    background-position-y: center
}

.bpx-l-c    { background-position-x: center }
.bpx-l-l    { background-position-x: left }
.bpx-l-r    { background-position-x: right }
.bpy-l-c    { background-position-y: center }
.bpy-l-t    { background-position-y: top }
.bpy-l-b    { background-position-y: bottom }

.o-l-h      { overflow: hidden }

.v-l-h      { visibility: hidden }
.v-l-v      { visibility: visible }

}


@media only screen and (max-width: 50rem) {

.d-m-f      { display: flex }
.d-m-b      { display: block }
.d-m-if     { display: inline-flex }
.d-m-i      { display: inline }
.d-m-ib     { display: inline-block }
.d-m-n      { display: none }

.fw-m-w     { flex-wrap: wrap }
.fw-m-n     { flex-wrap: nowrap }
.fw-m-wr    { flex-wrap: wrap-reverse }

.fd-m-r     { flex-direction: row }
.fd-m-c     { flex-direction: column }
.fd-m-rr    { flex-direction: row-reverse }
.fd-m-cr    { flex-direction: column-reverse }

.jc-m-c     { justify-content: center }
.jc-m-fs    { justify-content: flex-start }
.jc-m-fe    { justify-content: flex-end }
.jc-m-sa    { justify-content: space-around }
.jc-m-sb    { justify-content: space-between }

.ai-m-c     { align-items: center }
.ai-m-fs    { align-items: flex-start }
.ai-m-fe    { align-items: flex-end }
.ai-m-s     { align-items: stretch }
.ai-m-b     { align-items: baseline }

.ac-m-c     { align-content: center }
.ac-m-fs    { align-content: flex-start }
.ac-m-fe    { align-content: flex-end }
.ac-m-sa    { align-content: space-around }
.ac-m-sb    { align-content: space-between }
.ac-m-s     { align-content: stretch }

.as-m-c     { align-self: center }
.as-m-fs    { align-self: flex-start }
.as-m-fe    { align-self: flex-end }
.as-m-s     { align-self: stretch }
.as-m-b     { align-self: baseline }

.fb-m-1-1   { flex-basis: 100% }
.fb-m-1-2   { flex-basis: 50% }
.fb-m-1-3   { flex-basis: 33.333% }
.fb-m-2-3   { flex-basis: 66.666% }
.fb-m-1-4   { flex-basis: 25% }
.fb-m-3-4   { flex-basis: 75% }
.fb-m-1-6   { flex-basis: 16.666% }
.fb-m-5-6   { flex-basis: 83.333% }
.fb-m-1-12  { flex-basis: 8.333% }
.fb-m-5-12  { flex-basis: 41.666% }
.fb-m-7-12  { flex-basis: 58.333% }
.fb-m-11-12 { flex-basis: 91.666% }

.fb-m-1     { flex-basis: 1rem }
.fb-m-15    { flex-basis: 1.5rem }
.fb-m-2     { flex-basis: 2rem }
.fb-m-3     { flex-basis: 3rem }
.fb-m-4     { flex-basis: 4rem }
.fb-m-5     { flex-basis: 5rem }
.fb-m-6     { flex-basis: 6rem }
.fb-m-7     { flex-basis: 7rem }
.fb-m-8     { flex-basis: 8rem }
.fb-m-9     { flex-basis: 9rem }

.fs-m-0     { flex-shrink: 0 }
.fs-m-1     { flex-shrink: 1 }
.fs-m-2     { flex-shrink: 2 }
.fs-m-3     { flex-shrink: 3 }
.fs-m-4     { flex-shrink: 4 }
.fs-m-5     { flex-shrink: 5 }

.fg-m-0     { flex-grow: 0 }
.fg-m-1     { flex-grow: 1 }
.fg-m-2     { flex-grow: 2 }
.fg-m-3     { flex-grow: 3 }
.fg-m-4     { flex-grow: 4 }
.fg-m-5     { flex-grow: 5 }

.f-m-01a    { flex: 0 1 auto }

.mw-m-n     { max-width: none }
.mw-m-100   { max-width: 100% }

.w-m-1-1    { width: 100% }
.w-m-1-2    { width: 50% }
.w-m-1-3    { width: 33.333% }
.w-m-2-3    { width: 66.666% }
.w-m-1-4    { width: 25% }
.w-m-3-4    { width: 75% }
.w-m-1-6    { width: 16.666% }
.w-m-5-6    { width: 83.333% }
.w-m-1-12   { width: 8.333% }
.w-m-5-12   { width: 41.666% }
.w-m-7-12   { width: 58.333% }
.w-m-11-12  { width: 91.666% }

.w-m-a      { width: auto }
.w-m-1      { width: 1rem }
.w-m-15     { width: 1.5rem }
.w-m-2      { width: 2rem }
.w-m-3      { width: 3rem }
.w-m-4      { width: 4rem }
.w-m-5      { width: 5rem }
.w-m-6      { width: 6rem }
.w-m-7      { width: 7rem }
.w-m-8      { width: 8rem }
.w-m-9      { width: 9rem }

.h-m-1-1    { height: 100% }
.h-m-1-2    { height: 50% }
.h-m-1-3    { height: 33.333% }
.h-m-2-3    { height: 66.666% }
.h-m-1-4    { height: 25% }
.h-m-3-4    { height: 75% }
.h-m-1-6    { height: 16.666% }
.h-m-5-6    { height: 83.333% }
.h-m-1-12   { height: 8.333% }
.h-m-5-12   { height: 41.666% }
.h-m-7-12   { height: 58.333% }
.h-m-11-12  { height: 91.666% }

.h-m-a      { height: auto }
.h-m-1      { height: 1rem }
.h-m-15     { height: 1.5rem }
.h-m-2      { height: 2rem }
.h-m-3      { height: 3rem }
.h-m-4      { height: 4rem }
.h-m-5      { height: 5rem }
.h-m-6      { height: 6rem }
.h-m-7      { height: 7rem }
.h-m-8      { height: 8rem }
.h-m-9      { height: 9rem }
.h-m-25     { height: 25vh }
.h-m-50     { height: 50vh }
.h-m-75     { height: 75vh }
.h-m-100    { height: 100vh }

.m-m-a {
    margin-left: auto;
    margin-right: auto
}

.m-m-0      { margin: 0 }
.m-m-05     { margin: 0.5rem }
.m-m-1      { margin: 1rem }
.m-m-15     { margin: 1.5rem }
.m-m-2      { margin: 2rem }
.m-m-3      { margin: 3rem }
.m-m-4      { margin: 4rem }

.mt-m-0     { margin-top: 0 }
.mt-m-05    { margin-top: 0.5rem }
.mt-m-1     { margin-top: 1rem }
.mt-m-15    { margin-top: 1.5rem }
.mt-m-2     { margin-top: 2rem }
.mt-m-3     { margin-top: 3rem }
.mt-m-4     { margin-top: 4rem }

.mb-m-0     { margin-bottom: 0 }
.mb-m-05    { margin-bottom: 0.5rem }
.mb-m-1     { margin-bottom: 1rem }
.mb-m-15    { margin-bottom: 1.5rem }
.mb-m-2     { margin-bottom: 2rem }
.mb-m-3     { margin-bottom: 3rem }
.mb-m-4     { margin-bottom: 4rem }

.ml-m-0     { margin-left: 0 }
.ml-m-05    { margin-left: 0.5rem }
.ml-m-1     { margin-left: 1rem }
.ml-m-15    { margin-left: 1.5rem }
.ml-m-2     { margin-left: 2rem }
.ml-m-3     { margin-left: 3rem }
.ml-m-4     { margin-left: 4rem }

.mr-m-0     { margin-right: 0 }
.mr-m-05    { margin-right: 0.5rem }
.mr-m-1     { margin-right: 1rem }
.mr-m-15    { margin-right: 1.5rem }
.mr-m-2     { margin-right: 2rem }
.mr-m-3     { margin-right: 3rem }
.mr-m-4     { margin-right: 4rem }

.p-m-0      { padding: 0 }
.p-m-05     { padding: 0.5rem }
.p-m-1      { padding: 1rem }
.p-m-15     { padding: 1.5rem }
.p-m-2      { padding: 2rem }
.p-m-3      { padding: 3rem }
.p-m-4      { padding: 4rem }

.pt-m-0     { padding-top: 0 }
.pt-m-05    { padding-top: 0.5rem }
.pt-m-1     { padding-top: 1rem }
.pt-m-15    { padding-top: 1.5rem }
.pt-m-2     { padding-top: 2rem }
.pt-m-3     { padding-top: 3rem }
.pt-m-4     { padding-top: 4rem }

.pb-m-0     { padding-bottom: 0 }
.pb-m-05    { padding-bottom: 0.5rem }
.pb-m-1     { padding-bottom: 1rem }
.pb-m-15    { padding-bottom: 1.5rem }
.pb-m-2     { padding-bottom: 2rem }
.pb-m-3     { padding-bottom: 3rem }
.pb-m-4     { padding-bottom: 4rem }

.pl-m-0     { padding-left: 0 }
.pl-m-05    { padding-left: 0.5rem }
.pl-m-1     { padding-left: 1rem }
.pl-m-15    { padding-left: 1.5rem }
.pl-m-2     { padding-left: 2rem }
.pl-m-3     { padding-left: 3rem }
.pl-m-4     { padding-left: 4rem }

.pr-m-0     { padding-right: 0 }
.pr-m-05    { padding-right: 0.5rem }
.pr-m-1     { padding-right: 1rem }
.pr-m-15    { padding-right: 1.5rem }
.pr-m-2     { padding-right: 2rem }
.pr-m-3     { padding-right: 3rem }
.pr-m-4     { padding-right: 4rem }

.p-m-a      { position: absolute }
.p-m-r      { position: relative }
.p-m-s      { position: static }
.p-m-f      { position: fixed }

.tt-m-u     { text-transform: uppercase }
.tt-m-l     { text-transform: lowercase }
.tt-m-n     { text-transform: none }

.td-m-u     { text-decoration: underline }
.td-m-n     { text-decoration: none }

.ta-m-c     { text-align: center }
.ta-m-l     { text-align: left }
.ta-m-r     { text-align: right }

.ff-m-custom { font-family: "custom" }

.fs-m-12    { font-size: 0.75rem }
.fs-m-14    { font-size: 0.875rem }
.fs-m-16    { font-size: 1rem }
.fs-m-18    { font-size: 1.125rem }
.fs-m-20    { font-size: 1.25rem }
.fs-m-24    { font-size: 1.5rem }
.fs-m-28    { font-size: 1.75rem }
.fs-m-32    { font-size: 2rem }
.fs-m-36    { font-size: 2.25rem }
.fs-m-40    { font-size: 2.5rem }
.fs-m-44    { font-size: 2.75rem }
.fs-m-48    { font-size: 3rem }

.fw-m-100   { font-weight: 100 }
.fw-m-200   { font-weight: 200 }
.fw-m-300   { font-weight: 300 }
.fw-m-400   { font-weight: 400 }
.fw-m-500   { font-weight: 500 }
.fw-m-600   { font-weight: 600 }
.fw-m-700   { font-weight: 700 }
.fw-m-800   { font-weight: 800 }
.fw-m-900   { font-weight: 900 }

.lh-m-1     { line-height: 1 }
.lh-m-11    { line-height: 1.1 }
.lh-m-115   { line-height: 1.15 }
.lh-m-12    { line-height: 1.2 }
.lh-m-125   { line-height: 1.25 }
.lh-m-13    { line-height: 1.3 }
.lh-m-135   { line-height: 1.35 }
.lh-m-14    { line-height: 1.4 }
.lh-m-145   { line-height: 1.45 }
.lh-m-15    { line-height: 1.5 }

.va-m-m     { vertical-align: middle }

.bs-m-c     { background-size: cover }

.br-m-nr    { background-repeat: no-repeat }

.ba-m-f     { background-attachment: fixed }
.ba-m-s     { background-attachment: scroll }

.bp-m-c {
    background-position-x: center;
    background-position-y: center
}

.bpx-m-c    { background-position-x: center }
.bpx-m-l    { background-position-x: left }
.bpx-m-r    { background-position-x: right }
.bpy-m-c    { background-position-y: center }
.bpy-m-t    { background-position-y: top }
.bpy-m-b    { background-position-y: bottom }

.o-m-h      { overflow: hidden }

.v-m-h      { visibility: hidden }
.v-m-v      { visibility: visible }

}

@media only screen and (max-width: 25rem) {

.d-s-f      { display: flex }
.d-s-b      { display: block }
.d-s-if     { display: inline-flex }
.d-s-i      { display: inline }
.d-s-ib     { display: inline-block }
.d-s-n      { display: none }

.fw-s-w     { flex-wrap: wrap }
.fw-s-n     { flex-wrap: nowrap }
.fw-s-wr    { flex-wrap: wrap-reverse }

.fd-s-r     { flex-direction: row }
.fd-s-c     { flex-direction: column }
.fd-s-rr    { flex-direction: row-reverse }
.fd-s-cr    { flex-direction: column-reverse }

.jc-s-c     { justify-content: center }
.jc-s-fs    { justify-content: flex-start }
.jc-s-fe    { justify-content: flex-end }
.jc-s-sa    { justify-content: space-around }
.jc-s-sb    { justify-content: space-between }

.ai-s-c     { align-items: center }
.ai-s-fs    { align-items: flex-start }
.ai-s-fe    { align-items: flex-end }
.ai-s-s     { align-items: stretch }
.ai-s-b     { align-items: baseline }

.ac-s-c     { align-content: center }
.ac-s-fs    { align-content: flex-start }
.ac-s-fe    { align-content: flex-end }
.ac-s-sa    { align-content: space-around }
.ac-s-sb    { align-content: space-between }
.ac-s-s     { align-content: stretch }

.as-s-c     { align-self: center }
.as-s-fs    { align-self: flex-start }
.as-s-fe    { align-self: flex-end }
.as-s-s     { align-self: stretch }
.as-s-b     { align-self: baseline }

.fb-s-1-1   { flex-basis: 100% }
.fb-s-1-2   { flex-basis: 50% }
.fb-s-1-3   { flex-basis: 33.333% }
.fb-s-2-3   { flex-basis: 66.666% }
.fb-s-1-4   { flex-basis: 25% }
.fb-s-3-4   { flex-basis: 75% }
.fb-s-1-6   { flex-basis: 16.666% }
.fb-s-5-6   { flex-basis: 83.333% }
.fb-s-1-12  { flex-basis: 8.333% }
.fb-s-5-12  { flex-basis: 41.666% }
.fb-s-7-12  { flex-basis: 58.333% }
.fb-s-11-12 { flex-basis: 91.666% }

.fb-s-1     { flex-basis: 1rem }
.fb-s-15    { flex-basis: 1.5rem }
.fb-s-2     { flex-basis: 2rem }
.fb-s-3     { flex-basis: 3rem }
.fb-s-4     { flex-basis: 4rem }
.fb-s-5     { flex-basis: 5rem }
.fb-s-6     { flex-basis: 6rem }
.fb-s-7     { flex-basis: 7rem }
.fb-s-8     { flex-basis: 8rem }
.fb-s-9     { flex-basis: 9rem }

.fs-s-0     { flex-shrink: 0 }
.fs-s-1     { flex-shrink: 1 }
.fs-s-2     { flex-shrink: 2 }
.fs-s-3     { flex-shrink: 3 }
.fs-s-4     { flex-shrink: 4 }
.fs-s-5     { flex-shrink: 5 }

.fg-s-0     { flex-grow: 0 }
.fg-s-1     { flex-grow: 1 }
.fg-s-2     { flex-grow: 2 }
.fg-s-3     { flex-grow: 3 }
.fg-s-4     { flex-grow: 4 }
.fg-s-5     { flex-grow: 5 }

.f-s-01a    { flex: 0 1 auto }

.mw-s-n     { max-width: none }
.mw-s-100   { max-width: 100% }

.w-s-1-1    { width: 100% }
.w-s-1-2    { width: 50% }
.w-s-1-3    { width: 33.333% }
.w-s-2-3    { width: 66.666% }
.w-s-1-4    { width: 25% }
.w-s-3-4    { width: 75% }
.w-s-1-6    { width: 16.666% }
.w-s-5-6    { width: 83.333% }
.w-s-1-12   { width: 8.333% }
.w-s-5-12   { width: 41.666% }
.w-s-7-12   { width: 58.333% }
.w-s-11-12  { width: 91.666% }

.w-s-a      { width: auto }
.w-s-1      { width: 1rem }
.w-s-15     { width: 1.5rem }
.w-s-2      { width: 2rem }
.w-s-3      { width: 3rem }
.w-s-4      { width: 4rem }
.w-s-5      { width: 5rem }
.w-s-6      { width: 6rem }
.w-s-7      { width: 7rem }
.w-s-8      { width: 8rem }
.w-s-9      { width: 9rem }

.h-s-1-1    { height: 100% }
.h-s-1-2    { height: 50% }
.h-s-1-3    { height: 33.333% }
.h-s-2-3    { height: 66.666% }
.h-s-1-4    { height: 25% }
.h-s-3-4    { height: 75% }
.h-s-1-6    { height: 16.666% }
.h-s-5-6    { height: 83.333% }
.h-s-1-12   { height: 8.333% }
.h-s-5-12   { height: 41.666% }
.h-s-7-12   { height: 58.333% }
.h-s-11-12  { height: 91.666% }

.h-s-a      { height: auto }
.h-s-1      { height: 1rem }
.h-s-15     { height: 1.5rem }
.h-s-2      { height: 2rem }
.h-s-3      { height: 3rem }
.h-s-4      { height: 4rem }
.h-s-5      { height: 5rem }
.h-s-6      { height: 6rem }
.h-s-7      { height: 7rem }
.h-s-8      { height: 8rem }
.h-s-9      { height: 9rem }
.h-s-25     { height: 25vh }
.h-s-50     { height: 50vh }
.h-s-75     { height: 75vh }
.h-s-100    { height: 100vh }

.m-s-a {
    margin-left: auto;
    margin-right: auto
}

.m-s-0      { margin: 0 }
.m-s-05     { margin: 0.5rem }
.m-s-1      { margin: 1rem }
.m-s-15     { margin: 1.5rem }
.m-s-2      { margin: 2rem }
.m-s-3      { margin: 3rem }
.m-s-4      { margin: 4rem }

.mt-s-0     { margin-top: 0 }
.mt-s-05    { margin-top: 0.5rem }
.mt-s-1     { margin-top: 1rem }
.mt-s-15    { margin-top: 1.5rem }
.mt-s-2     { margin-top: 2rem }
.mt-s-3     { margin-top: 3rem }
.mt-s-4     { margin-top: 4rem }

.mb-s-0     { margin-bottom: 0 }
.mb-s-05    { margin-bottom: 0.5rem }
.mb-s-1     { margin-bottom: 1rem }
.mb-s-15    { margin-bottom: 1.5rem }
.mb-s-2     { margin-bottom: 2rem }
.mb-s-3     { margin-bottom: 3rem }
.mb-s-4     { margin-bottom: 4rem }

.ml-s-0     { margin-left: 0 }
.ml-s-05    { margin-left: 0.5rem }
.ml-s-1     { margin-left: 1rem }
.ml-s-15    { margin-left: 1.5rem }
.ml-s-2     { margin-left: 2rem }
.ml-s-3     { margin-left: 3rem }
.ml-s-4     { margin-left: 4rem }

.mr-s-0     { margin-right: 0 }
.mr-s-05    { margin-right: 0.5rem }
.mr-s-1     { margin-right: 1rem }
.mr-s-15    { margin-right: 1.5rem }
.mr-s-2     { margin-right: 2rem }
.mr-s-3     { margin-right: 3rem }
.mr-s-4     { margin-right: 4rem }

.p-s-0      { padding: 0 }
.p-s-05     { padding: 0.5rem }
.p-s-1      { padding: 1rem }
.p-s-15     { padding: 1.5rem }
.p-s-2      { padding: 2rem }
.p-s-3      { padding: 3rem }
.p-s-4      { padding: 4rem }

.pt-s-0     { padding-top: 0 }
.pt-s-05    { padding-top: 0.5rem }
.pt-s-1     { padding-top: 1rem }
.pt-s-15    { padding-top: 1.5rem }
.pt-s-2     { padding-top: 2rem }
.pt-s-3     { padding-top: 3rem }
.pt-s-4     { padding-top: 4rem }

.pb-s-0     { padding-bottom: 0 }
.pb-s-05    { padding-bottom: 0.5rem }
.pb-s-1     { padding-bottom: 1rem }
.pb-s-15    { padding-bottom: 1.5rem }
.pb-s-2     { padding-bottom: 2rem }
.pb-s-3     { padding-bottom: 3rem }
.pb-s-4     { padding-bottom: 4rem }

.pl-s-0     { padding-left: 0 }
.pl-s-05    { padding-left: 0.5rem }
.pl-s-1     { padding-left: 1rem }
.pl-s-15    { padding-left: 1.5rem }
.pl-s-2     { padding-left: 2rem }
.pl-s-3     { padding-left: 3rem }
.pl-s-4     { padding-left: 4rem }

.pr-s-0     { padding-right: 0 }
.pr-s-05    { padding-right: 0.5rem }
.pr-s-1     { padding-right: 1rem }
.pr-s-15    { padding-right: 1.5rem }
.pr-s-2     { padding-right: 2rem }
.pr-s-3     { padding-right: 3rem }
.pr-s-4     { padding-right: 4rem }

.p-s-a      { position: absolute }
.p-s-r      { position: relative }
.p-s-s      { position: static }
.p-s-f      { position: fixed }

.tt-s-u     { text-transform: uppercase }
.tt-s-l     { text-transform: lowercase }
.tt-s-n     { text-transform: none }

.td-s-u     { text-decoration: underline }
.td-s-n     { text-decoration: none }

.ta-s-c     { text-align: center }
.ta-s-l     { text-align: left }
.ta-s-r     { text-align: right }

.ff-s-custom { font-family: "custom" }

.fs-s-12    { font-size: 0.75rem }
.fs-s-14    { font-size: 0.875rem }
.fs-s-16    { font-size: 1rem }
.fs-s-18    { font-size: 1.125rem }
.fs-s-20    { font-size: 1.25rem }
.fs-s-24    { font-size: 1.5rem }
.fs-s-28    { font-size: 1.75rem }
.fs-s-32    { font-size: 2rem }
.fs-s-36    { font-size: 2.25rem }
.fs-s-40    { font-size: 2.5rem }
.fs-s-44    { font-size: 2.75rem }
.fs-s-48    { font-size: 3rem }

.fw-s-100   { font-weight: 100 }
.fw-s-200   { font-weight: 200 }
.fw-s-300   { font-weight: 300 }
.fw-s-400   { font-weight: 400 }
.fw-s-500   { font-weight: 500 }
.fw-s-600   { font-weight: 600 }
.fw-s-700   { font-weight: 700 }
.fw-s-800   { font-weight: 800 }
.fw-s-900   { font-weight: 900 }

.lh-s-1     { line-height: 1 }
.lh-s-11    { line-height: 1.1 }
.lh-s-115   { line-height: 1.15 }
.lh-s-12    { line-height: 1.2 }
.lh-s-125   { line-height: 1.25 }
.lh-s-13    { line-height: 1.3 }
.lh-s-135   { line-height: 1.35 }
.lh-s-14    { line-height: 1.4 }
.lh-s-145   { line-height: 1.45 }
.lh-s-15    { line-height: 1.5 }

.va-s-m     { vertical-align: middle }

.bs-s-c     { background-size: cover }

.br-s-nr    { background-repeat: no-repeat }

.ba-s-f     { background-attachment: fixed }
.ba-s-s     { background-attachment: scroll }

.bp-s-c {
    background-position-x: center;
    background-position-y: center
}

.bpx-s-c    { background-position-x: center }
.bpx-s-l    { background-position-x: left }
.bpx-s-r    { background-position-x: right }
.bpy-s-c    { background-position-y: center }
.bpy-s-t    { background-position-y: top }
.bpy-s-b    { background-position-y: bottom }

.o-s-h      { overflow: hidden }

.v-s-h      { visibility: hidden }
.v-s-v      { visibility: visible }

}
